// 重置默认样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 文字溢出省略号
.text-ellipsis-2 {
  overflow: hidden;              /* 超出的内容藏起来 */
  -webkit-line-clamp: 2;         /* 最多显示两行 */
  text-overflow: ellipsis;       /* 溢出显示省略效果 */
  display: -webkit-box;          /* 启用 WebKit 盒模型 */
  -webkit-box-orient: vertical;  /* 垂直排列 */
}
// 登陆页面顶部左箭头
.van-nav-bar{
   .van-nav-bar__arrow{
     color:#333
   }
}